{
    local_certs
}

http://cyberdesktop.loc {
    redir https://cyberdesktop.loc{uri} 301
}

https://cyberdesktop.loc {
    root * /var/www/html/public
    encode gzip
    php_fastcgi php-fpm:9000
    file_server
    tls internal
}